MELI_APP_ID= # ID da sua aplicação no Mercado Livre
MELI_CLIENT_SECRET= # Chave Secreta da sua aplicação no Mercado Livre
MELI_REDIRECT_URI= # URI de redirecionamento da sua aplicação no Mercado Livre
MELI_AUTH_CODE= # Código de autenticação da sua aplicação no Mercado Livre

DB_HOST= # IP do seu banco de dados
DB_PORT= # Porta do seu banco de dados
DB_USER= # Usuário do seu banco de dados
DB_PASS= # Senha do seu banco de dados
DB_NAME= # Nome do seu banco de dados