# -----------------------------------------------
# Marketplace API
# -----------------------------------------------
MELI_APP_ID=your_app_id
MELI_CLIENT_SECRET=your_client_secret
MELI_REDIRECT_URI=your_redirect_uri
MELI_AUTH_CODE=your_auth_code

# -----------------------------------------------
# MySQL Database
# -----------------------------------------------
DB_HOST=your_db_host
DB_PORT=your_db_port
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name