# -----------------------------------------------
# Marketplace API (Mercado Livre OAuth 2.0)
# -----------------------------------------------
MELI_APP_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=
MELI_AUTH_CODE=

# -----------------------------------------------
# MySQL Database
# -----------------------------------------------
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=